
@font-face {
    font-family: pessoal;
    src: url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}


.container{
    position: absolute;
    left: 50%;
}

.titulo {
    color: black;
}
    

body{
   
    font-family: pessoal;
    background-color: navy;
    color: whitesmoke;
}


.list{
    list-style-type: none;
}

.texto{
    padding: 10px;
    margin: 10px;
    border: 5px whitesmoke solid;
    z-index: 1;

  
    
}
.texto::placeholder{
    color: black;
}

span{
    color: crimson;
    margin: 10px;
}

.btn {
    background: green;
    padding: 10px;
    border: 2px solid whitesmoke;
  

}

