
@font-face {
    font-family: pessoal;
    src: url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}


    

body{
   
    font-family: pessoal;
    background-color: navy;
    color: whitesmoke;
}


.list{
    list-style-type: none;
}

.texto{
    padding: 10px;
    margin: 10px;
    border: 5px whitesmoke solid;

  
    
}
.texto::placeholder{
    color: black;
}

span{
    color: crimson;
    margin: 10px;
}

.btn{
    
    width: auto;
    border: 2px black solid;
    background-color: green;
}
